body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

input[type=number] {
    width: 6em;
}

.grid-container {
    margin: 10px auto;
    width: 50%;
    padding: 10px;
    border: 1px solid #dddada;
    box-shadow: 3px 3px 3px 1px #d8cfcf;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

#canvasborder{
    margin: 10px;   
    padding: 5px;
    border: 1px solid #dddada;
    box-shadow: 3px 3px 3px 0px #d8cfcf;
    
}